.main-route ul{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:grey ;
  margin-bottom: 50px;
}

.main-route li{
  float: left;
}

.main-route li a{
  display: block;
  color: bisque;
  text-align: center;
  align-items: center;
  padding: 20px;
  text-decoration: none;
}